@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* ---- stats.js ---- */

.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.container {
  height: 100vh;
}
h1 {
  font-size: 1.8rem;
}
p,
a {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 2;
}
a {
  text-decoration: none;
}
span {
  text-decoration: line-through;
}
#box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
i:hover {
  color: #888;
  transition: all ease-in 0.2s;
}
